<h1>Result</h1>
<p>The letters were: <%= params["token"] %></p>
<p>Your word: <%= @word %></p>

<p><%= @result %></p>
<% raise %>

<%# ******** Now your results ********
Your word: lift
Time Taken to answer: 12.07916
Your score: 3.194722666666667
Message: Well Done! %>
<%#
You will use the Wagon Dictionary API. Let’s have a look at what we get back from the API when we submit a correct English word and a wrong one. Pay attention to the structure of the URL.
Your grid must be a random grid where it’s possible to embed the same characters multiple times.
Make sure you are validating that 1) your word is an actual English word, and 2) that every letter in your word appears in the grid (remember you can only use each letter once).
If the word is not valid or is not in the grid, the score will be 0 (and should be accompanied by a message to the player explaining why they didn’t score any points).
The score depends on the time taken to answer, plus the length of the word you submit. The longer the word and the quicker the time, the better the score! Feel free to invent your own penalty rules too! %>
